*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg,#cf9aff,#95c0ff);
    color: #fff;
    padding-top: 4%;
    padding-left: 8%;
}
.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}
.container h1 img{
    width: 55px;
}
.container button img{
    width: 20px;
    height: 20px;
}
.container button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(#7e09eb,#cf9aff);
    font-size:16px;
    color: white;
    outline: 0;
    border: 0;
    border-radius: 40px;
    /* width: 180px;
    height: 30px; */
    margin: 30px 0 20px;
    padding: 15px 25px;
    cursor: pointer;
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background:white;
    color: #0a030f;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 3px;
    border: 0;
    outline: none;
}
.input-box img{
    height: 20px;
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}